
#Created by Constraints Editor (xc6slx4-cpg196-2) - 2018/03/29
NET "clk_ext" TNM_NET = "clk_ext";
TIMESPEC TS_clk_ext = PERIOD "clk_ext" 8 MHz HIGH 50 %;

NET "reset_ext" LOC = P8;
NET "reset_ext" IOSTANDARD = LVCMOS33;
NET "clk_ext" LOC = N8;
NET "clk_ext" IOSTANDARD = LVCMOS33;
NET "led[0]" LOC = N3;
NET "led[0]" IOSTANDARD = LVCMOS33;
NET "led[1]" LOC = P3;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[2]" LOC = N4;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[3]" LOC = P4;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "data_clk" LOC = J14;
NET "data_clk" IOSTANDARD = LVCMOS33;
#NET "data_clk" PULLUP;
NET "data_syn" LOC = G2;
NET "data_syn" IOSTANDARD = LVCMOS33;
#NET "data_syn" PULLUP;
NET "data_open" LOC = F13;
NET "data_open" IOSTANDARD = LVCMOS33;
#NET "data_open" PULLDOWN;
NET "data[11]" LOC = J1;
NET "data[11]" IOSTANDARD = LVCMOS33;
NET "data[10]" LOC = J2;
NET "data[10]" IOSTANDARD = LVCMOS33;
NET "data[9]" LOC = K1;
NET "data[9]" IOSTANDARD = LVCMOS33;
NET "data[8]" LOC = N12;
NET "data[8]" IOSTANDARD = LVCMOS33;
NET "data[7]" LOC = F14;
NET "data[7]" IOSTANDARD = LVCMOS33;
NET "data[6]" LOC = F2;
NET "data[6]" IOSTANDARD = LVCMOS33;
NET "data[5]" LOC = J13;
NET "data[5]" IOSTANDARD = LVCMOS33;
NET "data[4]" LOC = K13;
NET "data[4]" IOSTANDARD = LVCMOS33;
NET "data[3]" LOC = K14;
NET "data[3]" IOSTANDARD = LVCMOS33;
NET "data[2]" LOC = L13;
NET "data[2]" IOSTANDARD = LVCMOS33;
NET "data[1]" LOC = L14; 
NET "data[1]" IOSTANDARD = LVCMOS33;
NET "data[0]" LOC = D2;
NET "data[0]" IOSTANDARD = LVCMOS33;
NET "trigger_in" LOC = H14;
NET "trigger_in" IOSTANDARD = LVCMOS33;
NET "trigger_in" PULLUP;
NET "trigger_out" LOC = E1;
NET "trigger_out" IOSTANDARD = LVCMOS33;
NET "do_out[15]" LOC = C1;
NET "do_out[15]" IOSTANDARD = LVCMOS33;
NET "do_out[14]" LOC = P5;
NET "do_out[14]" IOSTANDARD = LVCMOS33;
NET "do_out[13]" LOC = K2;
NET "do_out[13]" IOSTANDARD = LVCMOS33;
NET "do_out[12]" LOC = H2;
NET "do_out[12]" IOSTANDARD = LVCMOS33;
NET "do_out[11]" LOC = A3;
NET "do_out[11]" IOSTANDARD = LVCMOS33;
NET "do_out[10]" LOC = N5;
NET "do_out[10]" IOSTANDARD = LVCMOS33;
NET "do_out[9]" LOC = L2;
NET "do_out[9]" IOSTANDARD = LVCMOS33;
NET "do_out[8]" LOC = E2;
NET "do_out[8]" IOSTANDARD = LVCMOS33;
NET "do_out[7]" LOC = B3;
NET "do_out[7]" IOSTANDARD = LVCMOS33;
NET "do_out[6]" LOC = N6;
NET "do_out[6]" IOSTANDARD = LVCMOS33;
NET "do_out[5]" LOC = L1;
NET "do_out[5]" IOSTANDARD = LVCMOS33;
NET "do_out[4]" LOC = H1;
NET "do_out[4]" IOSTANDARD = LVCMOS33;
NET "do_out[3]" LOC = A2;
NET "do_out[3]" IOSTANDARD = LVCMOS33;
NET "do_out[2]" LOC = P7;
NET "do_out[2]" IOSTANDARD = LVCMOS33;
NET "do_out[1]" LOC = M1;
NET "do_out[1]" IOSTANDARD = LVCMOS33;
NET "do_out[0]" LOC = G1;
NET "do_out[0]" IOSTANDARD = LVCMOS33;
NET "co_out[3]" LOC = B1;
NET "co_out[3]" IOSTANDARD = LVCMOS33;
NET "co_out[2]" LOC = M2;
NET "co_out[2]" IOSTANDARD = LVCMOS33;
NET "co_out[1]" LOC = P12;
NET "co_out[1]" IOSTANDARD = LVCMOS33;
NET "co_out[0]" LOC = F1;
NET "co_out[0]" IOSTANDARD = LVCMOS33;


NET "do_out[15]" SLEW = FAST;
NET "do_out[14]" SLEW = FAST;
NET "do_out[13]" SLEW = FAST;
NET "do_out[12]" SLEW = FAST;
NET "do_out[11]" SLEW = FAST;
NET "do_out[10]" SLEW = FAST;
NET "do_out[9]" SLEW = FAST;
NET "do_out[8]" SLEW = FAST;
NET "do_out[7]" SLEW = FAST;
NET "do_out[6]" SLEW = FAST;
NET "do_out[5]" SLEW = FAST;
NET "do_out[4]" SLEW = FAST;
NET "do_out[3]" SLEW = FAST;
NET "do_out[2]" SLEW = FAST;
NET "do_out[1]" SLEW = FAST;
NET "do_out[0]" SLEW = FAST;

NET "led[3]" SLEW = SLOW;
NET "led[2]" SLEW = SLOW;
NET "led[1]" SLEW = SLOW;
NET "led[0]" SLEW = SLOW;
NET "co_out[3]" SLEW = FAST;
NET "co_out[2]" SLEW = FAST;
NET "co_out[1]" SLEW = FAST;
NET "co_out[0]" SLEW = FAST;
NET "co_out[3]" DRIVE = 12;
NET "co_out[2]" DRIVE = 12;
NET "co_out[1]" DRIVE = 12;
NET "co_out[0]" DRIVE = 12;
NET "do_out[15]" DRIVE = 12;
NET "do_out[14]" DRIVE = 12;
NET "do_out[13]" DRIVE = 12;
NET "do_out[12]" DRIVE = 12;
NET "do_out[11]" DRIVE = 12;
NET "do_out[10]" DRIVE = 12;
NET "do_out[9]" DRIVE = 12;
NET "do_out[8]" DRIVE = 12;
NET "do_out[7]" DRIVE = 12;
NET "do_out[6]" DRIVE = 12;
NET "do_out[5]" DRIVE = 12;
NET "do_out[4]" DRIVE = 12;
NET "do_out[3]" DRIVE = 12;
NET "do_out[2]" DRIVE = 12;
NET "do_out[1]" DRIVE = 12;
NET "do_out[0]" DRIVE = 12;

