
#Created by Constraints Editor (xc6slx4-cpg196-2) - 2018/03/29
NET "clk_ext" TNM_NET = "clk_ext";
TIMESPEC TS_clk_ext = PERIOD "clk_ext" 8 MHz HIGH 50 %;

NET "reset_ext" LOC = P8;
NET "reset_ext" IOSTANDARD = LVCMOS33;
NET "clk_ext" LOC = N8;
NET "clk_ext" IOSTANDARD = LVCMOS33;
NET "led[0]" LOC = N3;
NET "led[0]" IOSTANDARD = LVCMOS33;
NET "led[1]" LOC = P3;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[2]" LOC = N4;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[3]" LOC = P4;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "data_clk" LOC = P7;
NET "data_clk" IOSTANDARD = LVCMOS33;
#NET "data_clk" PULLUP;
NET "data_syn" LOC = N6;
NET "data_syn" IOSTANDARD = LVCMOS33;
#NET "data_syn" PULLUP;
NET "data_open" LOC = M2;
NET "data_open" IOSTANDARD = LVCMOS33;
#NET "data_open" PULLDOWN;
NET "data[7]" LOC = L14;
NET "data[7]" IOSTANDARD = LVCMOS33;
NET "data[6]" LOC = M1;
NET "data[6]" IOSTANDARD = LVCMOS33;
NET "data[5]" LOC = L1;
NET "data[5]" IOSTANDARD = LVCMOS33;
NET "data[4]" LOC = L2;
NET "data[4]" IOSTANDARD = LVCMOS33;
NET "data[3]" LOC = N5;
NET "data[3]" IOSTANDARD = LVCMOS33;
NET "data[2]" LOC = N12;
NET "data[2]" IOSTANDARD = LVCMOS33;
NET "data[1]" LOC = P5; 
NET "data[1]" IOSTANDARD = LVCMOS33;
NET "data[0]" LOC = P12;
NET "data[0]" IOSTANDARD = LVCMOS33;
NET "trigger" LOC = K2;
NET "trigger" IOSTANDARD = LVCMOS33;
NET "trigger" PULLUP;
NET "do[15]" LOC = G1;
NET "do[15]" IOSTANDARD = LVCMOS33;
NET "do[14]" LOC = B3;
NET "do[14]" IOSTANDARD = LVCMOS33;
NET "do[13]" LOC = C1;
NET "do[13]" IOSTANDARD = LVCMOS33;
NET "do[12]" LOC = F14;
NET "do[12]" IOSTANDARD = LVCMOS33;
NET "do[11]" LOC = H1;
NET "do[11]" IOSTANDARD = LVCMOS33;
NET "do[10]" LOC = A2;
NET "do[10]" IOSTANDARD = LVCMOS33;
NET "do[9]" LOC = G14;
NET "do[9]" IOSTANDARD = LVCMOS33;
NET "do[8]" LOC = J13;
NET "do[8]" IOSTANDARD = LVCMOS33;
NET "do[7]" LOC = J1;
NET "do[7]" IOSTANDARD = LVCMOS33;
NET "do[6]" LOC = A3;
NET "do[6]" IOSTANDARD = LVCMOS33;
NET "do[5]" LOC = E14;
NET "do[5]" IOSTANDARD = LVCMOS33;
NET "do[4]" LOC = H13;
NET "do[4]" IOSTANDARD = LVCMOS33;
NET "do[3]" LOC = F1;
NET "do[3]" IOSTANDARD = LVCMOS33;
NET "do[2]" LOC = D14;
NET "do[2]" IOSTANDARD = LVCMOS33;
NET "do[1]" LOC = F13;
NET "do[1]" IOSTANDARD = LVCMOS33;
NET "do[0]" LOC = K14;
NET "do[0]" IOSTANDARD = LVCMOS33;
NET "co[15]" LOC = H2;
NET "co[15]" IOSTANDARD = LVCMOS33;
NET "co[14]" LOC = D13;
NET "co[14]" IOSTANDARD = LVCMOS33;
NET "co[13]" LOC = D1;
NET "co[13]" IOSTANDARD = LVCMOS33;
NET "co[12]" LOC = J14;
NET "co[12]" IOSTANDARD = LVCMOS33;
NET "co[11]" LOC = F2;
NET "co[11]" IOSTANDARD = LVCMOS33;
NET "co[10]" LOC = B1;
NET "co[10]" IOSTANDARD = LVCMOS33;
NET "co[9]" LOC = D2;
NET "co[9]" IOSTANDARD = LVCMOS33;
NET "co[8]" LOC = L13;
NET "co[8]" IOSTANDARD = LVCMOS33;
NET "co[7]" LOC = G2;
NET "co[7]" IOSTANDARD = LVCMOS33;
NET "co[6]" LOC = C13;
NET "co[6]" IOSTANDARD = LVCMOS33;
NET "co[5]" LOC = G13;
NET "co[5]" IOSTANDARD = LVCMOS33;
NET "co[4]" LOC = H14;
NET "co[4]" IOSTANDARD = LVCMOS33;
NET "co[3]" LOC = E2;
NET "co[3]" IOSTANDARD = LVCMOS33;
NET "co[2]" LOC = E13;
NET "co[2]" IOSTANDARD = LVCMOS33;
NET "co[1]" LOC = E1;
NET "co[1]" IOSTANDARD = LVCMOS33;
NET "co[0]" LOC = K13;
NET "co[0]" IOSTANDARD = LVCMOS33;


NET "do[15]" SLEW = FAST;
NET "do[14]" SLEW = FAST;
NET "do[13]" SLEW = FAST;
NET "do[12]" SLEW = FAST;
NET "do[11]" SLEW = FAST;
NET "do[10]" SLEW = FAST;
NET "do[9]" SLEW = FAST;
NET "do[8]" SLEW = FAST;
NET "do[7]" SLEW = FAST;
NET "do[6]" SLEW = FAST;
NET "do[5]" SLEW = FAST;
NET "do[4]" SLEW = FAST;
NET "do[3]" SLEW = FAST;
NET "do[2]" SLEW = FAST;
NET "do[1]" SLEW = FAST;
NET "do[0]" SLEW = FAST;
#NET "data[7]" PULLUP;
#NET "data[6]" PULLUP;
#NET "data[5]" PULLUP;
#NET "data[4]" PULLUP;
#NET "data[3]" PULLUP;
#NET "data[2]" PULLUP;
#NET "data[1]" PULLUP;
#NET "data[0]" PULLUP;
NET "led[3]" SLEW = SLOW;
NET "led[2]" SLEW = SLOW;
NET "led[1]" SLEW = SLOW;
NET "led[0]" SLEW = SLOW;
NET "co[15]" SLEW = FAST;
NET "co[14]" SLEW = FAST;
NET "co[13]" SLEW = FAST;
NET "co[12]" SLEW = FAST;
NET "co[11]" SLEW = FAST;
NET "co[10]" SLEW = FAST;
NET "co[9]" SLEW = FAST;
NET "co[8]" SLEW = FAST;
NET "co[7]" SLEW = FAST;
NET "co[6]" SLEW = FAST;
NET "co[5]" SLEW = FAST;
NET "co[4]" SLEW = FAST;
NET "co[3]" SLEW = FAST;
NET "co[2]" SLEW = FAST;
NET "co[1]" SLEW = FAST;
NET "co[0]" SLEW = FAST;
NET "co[15]" DRIVE = 12;
NET "co[14]" DRIVE = 12;
NET "co[13]" DRIVE = 12;
NET "co[12]" DRIVE = 12;
NET "co[11]" DRIVE = 12;
NET "co[10]" DRIVE = 12;
NET "co[9]" DRIVE = 12;
NET "co[8]" DRIVE = 12;
NET "co[7]" DRIVE = 12;
NET "co[6]" DRIVE = 12;
NET "co[5]" DRIVE = 12;
NET "co[4]" DRIVE = 12;
NET "co[3]" DRIVE = 12;
NET "co[2]" DRIVE = 12;
NET "co[1]" DRIVE = 12;
NET "co[0]" DRIVE = 12;
NET "do[15]" DRIVE = 12;
NET "do[14]" DRIVE = 12;
NET "do[13]" DRIVE = 12;
NET "do[12]" DRIVE = 12;
NET "do[11]" DRIVE = 12;
NET "do[10]" DRIVE = 12;
NET "do[9]" DRIVE = 12;
NET "do[8]" DRIVE = 12;
NET "do[7]" DRIVE = 12;
NET "do[6]" DRIVE = 12;
NET "do[5]" DRIVE = 12;
NET "do[4]" DRIVE = 12;
NET "do[3]" DRIVE = 12;
NET "do[2]" DRIVE = 12;
NET "do[1]" DRIVE = 12;
NET "do[0]" DRIVE = 12;
#Created by Constraints Editor (xc6slx4-cpg196-2) - 2018/04/03
INST "co<0>" TNM = LEDs;
INST "co<1>" TNM = LEDs;
INST "co<2>" TNM = LEDs;
INST "co<3>" TNM = LEDs;
INST "co<4>" TNM = LEDs;
INST "co<5>" TNM = LEDs;
INST "co<6>" TNM = LEDs;
INST "co<7>" TNM = LEDs;
INST "co<8>" TNM = LEDs;
INST "co<9>" TNM = LEDs;
INST "co<10>" TNM = LEDs;
INST "co<11>" TNM = LEDs;
INST "co<12>" TNM = LEDs;
INST "co<13>" TNM = LEDs;
INST "co<14>" TNM = LEDs;
INST "co<15>" TNM = LEDs;
INST "do<0>" TNM = LEDs;
INST "do<1>" TNM = LEDs;
INST "do<2>" TNM = LEDs;
INST "do<3>" TNM = LEDs;
INST "do<4>" TNM = LEDs;
INST "do<5>" TNM = LEDs;
INST "do<6>" TNM = LEDs;
INST "do<7>" TNM = LEDs;
INST "do<8>" TNM = LEDs;
INST "do<9>" TNM = LEDs;
INST "do<10>" TNM = LEDs;
INST "do<11>" TNM = LEDs;
INST "do<12>" TNM = LEDs;
INST "do<13>" TNM = LEDs;
INST "do<14>" TNM = LEDs;
INST "do<15>" TNM = LEDs;
